body {
  background: rgba(162, 137, 131, 0.5);
}

h2 {
  margin-left: 20px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 100;
  font-size: 25px;
}

.navbar-top {
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.navbar-top h2 {
  float: left;
  justify-content: left;
  justify-content: flex-start;
  margin-right: 800px;
}

.navbar-top li {
  display: inline-block;
  padding-top: 10px;
  font-size: 25px;
  padding-left: 30px;
  padding-right: 70px;
  padding-bottom: 10px;
  text-decoration: none;
}

.navbar-top a {
  color: black;
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
  font-weight: 100;
}

li:hover {
  background-color: rgba(164, 160, 160, 0.4);
  text-decoration: none;
}

.main-page {
  display: flex;
}

.contacts {
  display: flex;
  margin-bottom: 30px;
}
.photo-contacts {
  margin-left: 220px;
  display: grid;
  width: 30%;
}
img {
  margin-top: 25px;
  border-radius: 50%;
}

.main-photo {
  overflow: hidden;
}
.main-photo h2 {
  font-size: 30px;
  margin-right: 20px;

  width: 300px;
  color: aliceblue;
}

.main-photo h3 {
  margin-left: 10px;
  opacity: 0.8;
  color: aliceblue;
}

.text {
  width: 80%;
  margin-left: 50px;
  margin-right: 220px;
  color: seashell;
}

.text p {
  font-size: 22px;
}

.contacts a {
  padding-top: 20px;
  display: flex;
  color: black;
  opacity: 0.5;
  font-size: 18px;
}

.skills {
  background-color: rgba(162, 137, 131, 0.5);
  margin-top: 100px;
}

.skills h2 {
  padding-top: 100px;
  font-size: 40px;
  justify-content: center;
  margin-left: 48%;
  opacity: 0.6;
}

.skills-icon {
  display: flex;
  margin-left: 5%;
  margin-top: 100px;
}

.icon {
  margin-left: 180px;
  margin-bottom: 100px;
}

.icon h3 {
  font-size: 20px;
}
.footer {
  display: flex;
  background-color: cadetblue;
}

.footer-links {
  padding-left: 1100px;
  opacity: 0.8;
  margin-top: 20px;
}
h5 {
  padding-left: 30px;
  opacity: 0.5;
  margin-left: 10px;
  color: aliceblue;
  font-size: 15px;
}
